@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #E5484D, #1ABCFE);
    font-family: 'Montserrat', monospace;
    font-size: 24px;
}

.todo{
    background-color: #E6E6E6;
    padding: 20px 30px;
    border-radius: 15px;
    height: 400px;
    transition: background-color .3s;
}

.add{
    height: 50px;
    display: flex;
}

.add_input_btn{
    position: relative;
    height: 50px;
    outline: none;
}

.add_input{
    border: none;
    outline: none;
    height: inherit;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Montserrat', monospace;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}

.add_input::placeholder{
    font-family: 'Montserrat', monospace;
    font-size: 18px;
    color: #000;
}

.form-field__clear{
    position: absolute;
    z-index: 1;
    background: transparent;
    border: none;
    font-size: 21px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0.5;
    transition: all .3s;
    cursor:pointer;
    outline: none;
}

.form-field__clear:hover{
    opacity: 1;
    scale: 1.05
}

.add_btn {
    margin-left: 15px;
    padding: 0;
    background-color: #708090;
    border: none;
    color: #fff;
    height: inherit;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', monospace;
    font-size: 17px;
    box-shadow: 0 5px 10px #67727d;
    transition: all .3s;
}

.add_btn:active{
    background-color: #67727d;
    box-shadow: 0 0 #67727d;
}

.task{
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 10px;
    max-height: 280px;
}

.task_list li{
    margin-bottom: 10px;
}

.list_item{
    display: flex;
    justify-content: space-between;
}

.edit_item{
    margin-right: 5px;
}

.edit_item,
.delete_item{
    background-color: #708090;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', monospace;
    font-size: 17px;
    padding: 7px;
    transition: all .3s;
}

.edit_item:hover,
.delete_item:hover{
    background-color: #67727d;
}

.add_edit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.edit_input{
    background: transparent;
    border: none;
    outline: none;
    height: inherit;
    width: 300px;
    border-radius: 5px;
    font-family: 'Montserrat', monospace;
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

.change_back{
    margin-top: 50px;
    width: 475px;
    height: 100px;
    background-color: #E6E6E6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.change_back span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}

.orange{
    background-color: #FF9500;
}

.blue{
    background-color: #76AADE;
}

.green{
    background-color: #4FD2C2;
}

.pink{
    background-color: #FFD1FF;
}

.orange_btn,
.orangeMain_btn{
    background-color: #f4af4f;
    color: #000;
}

.blue_btn,
.blueMain_btn{
    background-color: #abd5ff;
    color: #000;
}

.green_btn,
.greenMain_btn{
    background-color: #96ede3;
    color: #000;
}

.pink_btn,
.pinkMain_btn{
    background-color: #fff5ff;
    color: #000;
}

.orange_btn:hover{
    background-color: #ba7e2b;
}

.blue_btn:hover{
    background-color: #579bdf;
}

.green_btn:hover{
    background-color: #23baa9;
}

.pink_btn:hover{
    background-color: #d29cd2;
}

.orangeMain_btn{
    box-shadow: 0 5px 10px #f4af4f;
}

.blueMain_btn{
    box-shadow: 0 5px 10px #abd5ff;
}

.greenMain_btn{
    box-shadow: 0 5px 10px #96ede3;
}

.pinkMain_btn{
    box-shadow: 0 5px 10px #fff5ff;
}

.orangeMain_btn:active{
    background-color: #ba7e2b;
    box-shadow: 0 0 #f4af4f;
}

.blueMain_btn:active{
    background-color: #579bdf;
    box-shadow: 0 0 #abd5ff;
}

.greenMain_btn:active{
    background-color: #23baa9;
    box-shadow: 0 0 #96ede3;
}

.pinkMain_btn:active{
    background-color: #d29cd2;
    box-shadow: 0 0 #fff5ff;
}